html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Box-sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.25rem;
  background-color: rgb(57, 74, 78);
}

h1 {
  font-size: 2.5rem;
  color: rgb(255, 255, 255);
  text-align: center;
}

h2 {
  font-size: 1.5rem;
}

/* Container */
.container {
  max-width: 1200px;
  width: 100%;
  padding: 1rem;
  margin: 0 auto;
}

/* Flex */
.flex {
  display: flex;
  justify-content: space-between;
}

/* width-100 */
.width-100 {
  width: 100%;
}

/* ----------- Normal Styling--------- */
/*------ Header/navbar---------*/
.navbar nav ul {
  margin: 1.5rem 0;
  padding: 1rem 3rem;
  background-color: whitesmoke;
}
.navbar nav ul li a {
  text-decoration: none;
  text-transform: capitalize;
  color: rgb(32, 155, 193);
}

/*-------------Main-------------*/
main {
  display: grid;
  grid-template-areas: "one" "two" "three";
}

article {
  padding: 0.5rem;
  text-transform: capitalize;
  background-color: white;
  margin-bottom: 1rem;
  border-top: 0.2rem solid rgb(32, 155, 193);
  border-radius: 0.25rem;
}
article p {
  margin: 0.75rem 0;
}
article a {
  text-decoration: none;
  color: rgb(253, 73, 47);
}
article h2 {
  margin-bottom: 1rem;
}

.aside-r article:first-child {
  padding: 0.5rem 0 0 0;
}
.aside-r article:first-child h2, .aside-r article:first-child p {
  padding: 0 0.5rem 0 0.5rem;
}
.aside-r article:first-child a {
  background-color: rgb(253, 73, 47);
  display: block;
  color: whitesmoke;
  padding: 0.5rem;
}
.aside-r article:nth-child(2) {
  padding: 0 0 0.5rem 0;
  border: none;
}
.aside-r article:nth-child(2) h2, .aside-r article:nth-child(2) a, .aside-r article:nth-child(2) p {
  padding: 0 0.5rem 0 0.5rem;
}
.aside-r article:nth-child(2) h2 {
  background-color: rgb(32, 155, 193);
  color: whitesmoke;
  padding: 0.75rem;
}

.section article img {
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}

.aside-l article:last-child {
  text-align: start;
}
.aside-l article:last-child img {
  width: 30%;
  border: 1px solid black;
  display: block;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  main {
    gap: 1rem;
    grid-template-areas: "one two three";
  }
}/*# sourceMappingURL=style.css.map */