$bg-one:rgb(245,227,214);
$bg-two: rgb(236,174,78);
$bg-third: rgb(252,103,62);
$light-pr:rgb(161, 155, 150);
$pr :rgb(93,90,88);
$dark-pr:rgb(57,57,57);
$sc-light:rgb(255,221,211);
$sc-dark:rgb(255,254,253);